name: Build and deploy Apis

on:
  workflow_dispatch:

jobs:
  build-deploy-mage-api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Azure Login
        uses: Azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Push image
        run: |
          az acr login -n ${{ secrets.ACR_REGISTRY_NAME }}
          az acr build -r ${{ secrets.ACR_REGISTRY_NAME }} -t mage-guild-api:${{ github.sha }} -t mage-guild-api:latest --build-arg BUILDKIT_INLINE_CACHE=1 .
        working-directory: src/apis/mage-guild

      - uses: azure/webapps-deploy@v2
        with:
          app-name: ${{secrets.WEB_MAGEAPI_RESOURCE_NAME}}
          images: "${{secrets.ACR_REGISTRY_NAME}}.azurecr.io/mage-guild-api:${{ github.sha }}"
