name: Create Azure Foundry resources

on:
    workflow_dispatch:

jobs:
    create-azure-resources:
        env:
            REGION: "westus" # You can change this to reflect the region where you deploy your Accelerator
            AZURE_CORE_OUTPUT: "none" # Test

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Azure Login
              uses: Azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            # Temp fix
            # - name: bicep tmp fix
            #   run: az config set bicep.use_binary_from_path=false

            - name: deploy
              id: createResources
              run: |
                  az deployment sub create \
                    --location ${{ env.REGION }} \
                    --name ${{ github.run_id }} \
                    --template-file ./infra/main.bicep \
                    --parameters ./infra/main.bicepparam \
                    --query 'properties.outputs' \
                    --output json > outputs.json

                  echo "resourceGroupName=$(jq -r '.resourceGroupName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "acrRegistryName=$(jq -r '.acrRegistryName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "foundryResourceName=$(jq -r '.foundryResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "foundryProjectEndpoint=$(jq -r '.webMageApiResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "loreAgentResourceName=$(jq -r '.loreAgentResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "chatCompletionModelDeployment=$(jq -r '.chatCompletionModelDeployment.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "webMageApiResourceName=$(jq -r '.webMageApiResourceName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "webApiMageEndpoint=$(jq -r '.webApiMageEndpoint.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "storageBlobEndpoint=$(jq -r '.storageBlobEndpoint.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "cosmosDbAccountName=$(jq -r '.cosmosDbAccountName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "skyrimDatabaseName=$(jq -r '.skyrimDatabaseName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "skyrimContaineName=$(jq -r '.skyrimContaineName.value' outputs.json)" >> $GITHUB_OUTPUT
                  echo "functionCrimeResourceName=$(jq -r '.functionCrimeResourceName.value' outputs.json)" >> $GITHUB_OUTPUT

            - name: Get CosmosDB Connection String
              id: getCosmosConnection
              run: |
                  COSMOS_CONNECTION_STRING=$(az cosmosdb keys list \
                    --name ${{ steps.createResources.outputs.cosmosDbAccountName }} \
                    --resource-group ${{ steps.createResources.outputs.resourceGroupName }} \
                    --type connection-strings \
                    --query "connectionStrings[0].connectionString" \
                    --output tsv)

                  echo "cosmosConnectionString=$COSMOS_CONNECTION_STRING" >> $GITHUB_OUTPUT

            - name: Set secrets using gh CLI
              env:
                  GH_TOKEN: ${{ secrets.PA_TOKEN }}
              run: |
                  gh secret set RESOURCE_GROUP_NAME --body "${{ steps.createResources.outputs.resourceGroupName }}"
                  gh secret set ACR_REGISTRY_NAME --body "${{ steps.createResources.outputs.acrRegistryName }}"
                  gh secret set FOUNDRY_RESOURCE_NAME --body "${{ steps.createResources.outputs.foundryResourceName }}"
                  gh secret set FOUNDRY_PROJECT_ENDPOINT --body "${{ steps.createResources.outputs.foundryProjectEndpoint }}"
                  gh secret set LORE_AGENT_RESOURCE_NAME --body "${{ steps.createResources.outputs.loreAgentResourceName }}"
                  gh secret set CHAT_COMPLETION_MODEL_DEPLOYMENT --body "${{ steps.createResources.outputs.chatCompletionModelDeployment }}"
                  gh secret set WEB_MAGEAPI_RESOURCE_NAME --body "${{ steps.createResources.outputs.webMageApiResourceName }}"
                  gh secret set WEB_API_MAGE_ENDPOINT --body "${{ steps.createResources.outputs.webApiMageEndpoint }}"
                  gh secret set COSMOS_CONNECTION_STRING --body "${{ steps.createResources.outputs.cosmosConnectionString }}"
                  gh secret set SKYRIM_DATABASE_NAME --body "${{ steps.createResources.outputs.skyrimDatabaseName }}"
                  gh secret set SKYRIM_CONTAINE_NAME --body "${{ steps.createResources.outputs.skyrimContaineName }}"
                  gh secret set COSMOSDB_ACCOUNT_NAME --body "${{ steps.createResources.outputs.cosmosDbAccountName }}"
                  gh secret set STORAGE_BLOB_ENDPOINT --body "${{ steps.createResources.outputs.storageBlobEndpoint }}"
                  gh secret set FUNCTION_CRIME_SOURCENAME --body "${{ steps.createResources.outputs.functionCrimeResourceName }}"
