name: Deploy MCP Servers

on:
    workflow_dispatch:

env:
    AZURE_FUNCTIONAPP_NAME: ${{secrets.FUNCTION_CRIME_SOURCENAME}}
    AZURE_FUNCTIONAPP_PACKAGE_PATH: "./src/MCP/Crime"
    DOTNET_VERSION: "8.0.x"

jobs:
    build-and-deploy-crime-server:
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout GitHub Action"
              uses: actions/checkout@v4

            - name: Setup .NET Core
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}

            # Run dotnet build and publish
            - name: "Resolve Project Dependencies Using Dotnet"
              shell: bash
              run: |
                  pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
                  dotnet build --configuration Release --output ./output
                  popd

            - name: Azure Login
              uses: Azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: "Run Azure Functions Action"
              uses: Azure/functions-action@v1
              id: fa
              with:
                  app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
                  package: "${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output"
